/* Auth.css */
.auth-container {
  display: flex;
  height: 92.5vh;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: rgb(247, 244, 244);
  flex-wrap: wrap;
  padding: 20px;
  animation: fadeSlideIn 0.5s ease-in-out forwards;
}
@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateY(250px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.auth-left,
.auth-right {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease-in-out;
  width: 40vw;
  height: 70vh;
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
}

.auth-left img {
  height: auto;
  width: 100%;
  max-width: 30vw;
}

.auth-box {
  background: white;
  width: 100%;
  max-width: 30vw;
  text-align: center;
  height: auto;
  padding: 20px;
  transition: transform 0.5s ease-in-out;
  box-sizing: border-box;
}

.auth-box h2 {
  margin-bottom: 2rem;
  font-weight: 800;
  font-size: 35px;
  color: #0a74da;
}

.auth-box input {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.auth-box button {
  width: 80%;
  padding: 10px;
  margin-top: 20px;
  background: #0a74da;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.auth-box button:hover {
  background: #0a74da;
}

.auth-box p {
  margin-top: 1rem;
}

.auth-box span {
  color: #0a74da;
  cursor: pointer;
  font-weight: bold;
}

.auth-box span:hover {
  text-decoration: underline;
}

.signin-mode .auth-left {
  transform: translateX(0);
  transition: transform 1s ease-in-out;
}

.signin-mode .auth-right {
  transform: translateX(0);
  transition: transform 1s ease-in-out;
}

.signup-mode .auth-left {
  transform: translateX(100%);
  transition: transform 1s ease-in-out;
}

.signup-mode .auth-right {
  transform: translateX(-100%);
  transition: transform 1s ease-in-out;
}

@media screen and (max-width: 1024px) {
  .auth-left,
  .auth-right {
    width: 90%;
    height: auto;
  }

  .auth-box {
    max-width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .auth-container {
    flex-direction: column;
    height: auto;
  }

  .auth-left,
  .auth-right {
    width: 100%;
    height: auto;
    transform: none !important;
    transition: transform 1.5s ease-in-out;
  }

  .auth-left img {
    max-width: 70%;
  }

  .auth-box {
    max-width: 100%;
    padding: 15px;
  }

  .auth-box h2 {
    font-size: 28px;
  }
}

@media screen and (max-width: 480px) {
  .auth-box h2 {
    font-size: 24px;
  }

  .auth-box input,
  .auth-box button {
    width: 90%;
  }
}