.navbar {
  background-color: #0a74da;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 10px 10px 16px rgba(0, 0, 0, 0.1);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 50px;
  padding-block: 10px;
}

.nav-logo {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
}

.nav-links li {
  display: flex;
  align-items: center;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: 0.3s ease;
}

.nav-links li a:hover {
  color: #ffdd57; 
  transform: scale(1.05);
}

.emergency-btn {
  background: #ff4444;
  color: white;
  padding: 10px 15px;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s ease;
}

.emergency-btn:hover {
  background: #d90000;
  transform: scale(1.05);
}

.nav-toggle {
  background: none;
  border: none;
  color: white;
  display: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-toggle {
    display: block;
  }
  .nav-container{
    padding-inline: 5px;
  }
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #0a74da;
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }

  .nav-links.open {
    display: flex;
  }

  .nav-links li {
    padding: 10px 0;
  }
}
