*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.app-content {
  opacity: 0;
  transform: translateY(20px); /* Moves content slightly down initially */
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

.app-content.fade-in {
  opacity: 1;
  transform: translateY(0);
}
