.services{
    width: 98vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10vh;
}
.services h2{
    font-size: 40px;
    font-family: sans-serif;
}
.services-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70vw;
    height: 100vh;
    gap: 50px;
}
.services-wrapper .render{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20vh;
}