.footer-container{
    background-color: red;
    height: 70vh;
    width: 98.89vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top: 2px solid rgb(216, 208, 208);
}
.footer-container .footer-1{
    height: 30vh;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 5vw;
}
.footer-container .footer-2{
    height: 40vh;
    width: 100%;
    background: linear-gradient(to right, #090909, #171717, #1A1A1A);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.footer-container .footer-1 h4{
    color: rgb(52, 51, 51);
    font-size: 20px;
    font-weight: 400;
}
.footer-container .footer-1 h1{
    color: #242424;
    font-family: sans-serif;
    font-size: 50px;
    padding-bottom: 10px;
    border-bottom: 3px solid rgb(234, 255, 0);
}
.footer-container .footer-1 button{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    background-color: rgb(234, 255, 0);
}
.footer-container .footer-1 button .arrow{
    position: absolute;
    top: 32px;
    left: 32px;
    font-size: 35px;
    cursor: pointer;
}
.footer-container .footer-2 .footerBlock{
    width: 20vw;
    height: 100%;
}
.footer-container .footer-2 .footerBlock1{
    font-size: 45px;
    display: flex;
    align-items: flex-start;
    padding-top: 6vh;
    justify-content: center;
}
.footer-container .footer-2 .footerBlock2{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
    flex-direction: column;
    padding-left: 2vw;
}
.footer-container .footer-2 .footerBlock2 p{
    line-height: 20px;
    letter-spacing: 1px;
}
.footer-container .footer-2 .footerBlock2 p span{
    text-decoration: underline;
    cursor: pointer;
}
.footer-container .footer-2 .footerBlock3{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
    flex-direction: column;
    padding-left: 2vw;
}
.footer-container .footer-2 .footerBlock3 p{
    line-height: 20px;
    letter-spacing: 1px;
}
.footer-container .footer-2 .footerBlock3 p span{
    text-decoration: underline;
    cursor: pointer;
}
.footer-container .footer-2 .footerBlock4{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 35px;
    padding-left: 20px;
}
.footer-container .footer-2 .footerBlock4 p{
    text-transform: uppercase;
}
.footer-container .footer-2 .footerBlock4 ul{
    list-style-type: none;
    display: flex;
    gap: 30px;
}
.footer-container .footer-2 .footerBlock4 ul li{
    font-size: 30px;
}
.footer-container .footer-2 .footerBlock4 p span{
    text-decoration: underline;
}